@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* .app {
    @apply bg-tea-green font-baseFont;
  } */
  .app {
    @apply bg-[#edf2f8] font-baseFont;
  }
}

@layer components {

  /* General */
  .head-text {
    @apply pt-20 tablet:text-5xl wide-desktop:text-7xl font-extrabold text-center text-caribbean-current capitalize
  }

  .title-text {
    @apply text-base wide-desktop:text-3xl font-extrabold text-caribbean-current
  }

  .p-text {
    @apply text-sm text-left text-gray-600 leading-6 wide-desktop:text-3xl
  }

  .app-container {
    @apply w-full min-h-screen flex flex-row
  }

  .app-flex {
    @apply flex justify-center items-center
  }

  .app-wrapper {
    @apply flex-1 w-full flex-col
  }
  /*** end general ***/


  /* HOC */
  .copyright {
    @apply w-full flex flex-col justify-end items-end
  }
  /*** end hoc ***/

  
  /* Navbar & Menu Component */
  .navbar {
    @apply fixed top-0 right-0 left-0 z-40 w-full;
  }

  .navbar-container{
    @apply flex justify-between items-center;
  }

  .hamburgerBtn{
    @apply block p-1 bg-caribbean-current rounded-md text-tea-green
        hover:text-tea-green hover:bg-caribbean-current hover:rounded-lg 
        transition-all duration-300 ease-linear 
        focus:bg-caribbean-current focus:rounded-lg focus:outline-none focus:ring-2 focus:ring-tea-green focus:text-tea-green
  }

  .menu-links {
    @apply leading-normal text-lg text-tea-green
  }

  .menu-links-div {
    @apply flex justify-end p-2 pr-10 mt-2 rounded-lg hover:bg-caribbean-current hover:text-tea-green;
  }

  .navbar-items {
    @apply flex justify-between items-center py-4 px-8 w-full;
  }

  .nav-links {
    @apply leading-normal text-lg text-caribbean-current;
  }

  .nav-last-link {
    @apply rounded-full bg-chartreuse-color hover:bg-[#6BC800] hover:scale-105 px-8 py-1
  }

  .nav-links-hover {
    @apply h-px inline-block w-0 bg-midnight-green absolute left-0 -bottom-0.5 group-hover:w-full transition-[width] ease-in-out duration-300;
  }
  /*** end navbar & menu component ***/


  /* Header Page */
  .hearder-icon-circles {
    @apply rounded-full p-3 bg-chartreuse-color border-4 border-tea-green shadow-md shadow-tea-green/40
  }
  /*** end header page ***/


  /* ParallaxText Component*/
  .parallax {
    @apply flex overflow-hidden tracking-tight leading-none whitespace-nowrap flex-nowrap
  }

  .scroller {
    @apply flex font-semibold uppercase text-4xl tablet:text-6xl whitespace-nowrap flex-nowrap
  }
  /*** end parallaxtext component***/


  /* ServiceCard Component*/
  .service-card {
    @apply flex justify-start items-start flex-col w-48 wide-desktop:w-96 m-8 wide-desktop:my-8 wide-desktop:mx-16
  }
  /*** end servicecard component***/


  /* Projects Page*/  
  .project-filter {
    @apply flex flex-row justify-center items-center flex-wrap mt-8 mb-2
  }

  .project-filter-item {
    @apply py-2 wide-desktop:py-4 px-4 wide-desktop:px-8 m-2 rounded-lg wide-desktop:rounded-xl bg-white 
    text-caribbean-current font-extrabold cursor-pointer 
    hover:bg-midnight-green hover:text-chartreuse-color transition duration-700 ease-in-out
  }

  .project-container {
    @apply flex flex-wrap justify-center items-start
  }
  /*** end projects page ***/


  /* ProjectsCard Component*/ 
  .project-card {
    @apply w-full tablet:w-72 wide-desktop:w-96 flex-col m-4 tablet:m-8 p-4 wide-desktop:p-5 rounded-lg wide-desktop:rounded-xl 
    bg-white transition duration-700 ease-in-out hover:shadow-2xl hover:shadow-black/60
  }

  .project-card-img {
    @apply w-full h-60 wide-desktop:h-96 relative
  }

  .project-card-hover {
    @apply absolute top-0 left-0 bottom-0 right-0 w-full h-full bg-black/50 rounded-lg opacity-0
  }

  .project-card-icon {
    @apply w-14 h-14 rounded-full bg-black/50 m-4 transition duration-700 ease-in-out
  }

  .project-card-content {
    @apply relative p-2 w-full flex-col 
  }

  .project-card-badge {
    @apply absolute -top-7 py-2 px-4 rounded-lg bg-white gap-x-2
  }

  .project-card-tags {
    @apply flex flex-wrap gap-2 mt-4 justify-end
  }

  .project-card-tag-item {
    @apply bg-midnight-green rounded-3xl py-0.5 px-2 text-tea-green text-xs
  }
  /*** end projectscard component ***/


  /* Social Links Component */ 
  .social-links {
    @apply flex justify-end items-center flex-col p-4
  }

  .social-links-icons {
    @apply w-10 h-10 wide-desktop:w-20 wide-desktop:h-20 flex justify-center items-center my-1 wide-desktop:my-2 
    rounded-full border border-caribbean-current text-caribbean-current
    hover:bg-chartreuse-color hover:border-chartreuse-color hover:text-white
    transition duration-700 ease-in-out 
  }
  /*** end social links component ***/ 


  /* Skills Page */ 
  .box-back {
    @apply absolute w-full h-full bg-caribbean-current rounded-2xl border-4 border-tea-green shadow-xl backdrop-blur-md
    rotate-12 group-hover:rotate-0 group-hover:scale-110 transition duration-500 ease-in-out
  }

  .box-front {
    @apply absolute w-full h-full group-hover:scale-110 transition duration-500 ease-in-out
  }
  /*** end skills page ***/ 



  /* .active-link {
    @apply bg-midnight-green
  } */


}
